@import '../layout/base.css';
@import '../components/breadcrumb.css';
.servicos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 40px;
    justify-content: space-between;
}

.servicos .servico {
    object-fit: cover;
    width: 100%;
    margin-bottom: 40px;
}

.servicos .servico h3 {
    font-size: 1.1em;
    margin: 10px 0;
}

.servicos .servico p {
    font-size: 0.9em;
}

.servicos .servico img {
    height: 300px;
}

table>caption {
    background-color: #ccc; 
    font-size: 1.4em;
}

table>tfoot {
    background-color: #ccc; 
    font-size: 1.4em; 
}

tbody>tr>td {
    background-color: #eee;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .servicos .servico{
        width: 48%;
    }
}

@media screen and (min-width: 992px) {
    .servicos {
        padding-top: 30px;
        padding-bottom: 30px;    
    }

    .servicos .servico{
        width: 32%;
    }
    
}