nav {
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
}

.main-navbar {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: white;
    transition: opacity 500ms;
    width: 100%;
    left: 0;
    position: absolute;
    background-color: #1c1817;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.main-navbar.active {
    opacity: 1;
    transition: none;
    pointer-events: all;
}

.main-navbar li {
    display: flex;
    text-align: center;
    justify-content: center;
}

.main-navbar li a {
    display: flex;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: opacity 700ms;
}

.menu-toggle {
    display: inline-flex;
    flex-direction: column;
    width: 50px;
    border: none;
    padding: 5px;
}

.menu-toggle span {
    display: flex;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    margin: 4px 0;
    background-color: white;
    transition: all 500ms;
}

@media (min-width: 768px) {
    nav {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
    }
    .main-navbar {
        height: auto;
        opacity: 1;
        justify-content: center;
        position: relative;
        pointer-events: all;
    }
    .main-navbar {
        flex-direction: row;
    }
    .main-navbar li {
        display: inline-flex;
    }
    .menu-toggle {
        display: none;
    }
}