@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
@import '../components/nav.css';
@import '../blocks/footer.css';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #1c1817;
}

main {
    margin-top: 90px;
}

.logo {
    display: flex;
    width: auto;
    max-height: 80px;
    padding: 10px 0;
}

.logo-link {
    opacity: 1 !important;
}

.btn {
    display: inline-flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    padding: 10px 25px;
    border-radius: 7px;
    background-color: #1c1817;
}

.text-muted {
    color: rgba(255, 255, 255, .6);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a:not(.btn) {
    text-decoration: none;
    color: black;
    opacity: .5;
    transition: opacity 500ms;
}

a:not(.btn):hover {
    opacity: 1;
}

.jumbotron .container {
    max-width: 40rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    header {
        position: relative;
        flex-direction: column;
    }
    main {
        margin-top: 0;
    }
    nav {
        display: flex;
    }
    .logo {
        margin-top: 50px;
        min-height: 150px;
    }
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}