footer {
    display: flex;
    flex-direction: column;
    background-color: #1c1817;
    color: white;
}

footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container div{
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
}

footer .container .info img {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer .container .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 10px;
}

footer .container .navigation a {
    display: inline-flex;
    color: white;
    text-transform: uppercase;
    min-width: 50%;
    margin: 10px 0;
}

footer .container .social {
    display: flex;
    flex-direction: column;
}

footer .container .social a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

footer .container .social .icons {
    display: flex;
    margin: 10px 0;
    padding: 0;
    flex-direction: row;
    width: 100%;
}

footer .container .social .icons a {
    display: inline-flex;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

footer #map {
    width: 100%;
    height: 350px;
}

@media (min-width: 768px) {
    footer .container .info img {
        max-width: 60%;
    }

    footer .container {
        flex-direction: row;
    }

    footer .container div {
        width: 32%;
    }

    footer .container .navigation {
        padding: 30px 20px; 
    }

    footer .container div:nth-child(2){
        border-top: 0;
        border-bottom: 0;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

}